@model IEnumerable<Cusat_University.ViewModels.EnrollmentDateGroup>
@{
    ViewBag.Title = "Student Body Statistics";
}
<h2>@ViewBag.Title.</h2>
<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Student Count
        </th>
        <th>
            Names
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.StudentCount
            </td>
            <td>
                @foreach (var student in item.Students)
                {
                    @student.FirstMidName @student.LastName <br/>
                }
            </td>
        </tr>
    }
</table>